$widthUnder1024 : 1023px;
$width1024      : 1279px;
$width1280      : 1365px;
$width1366      : 1599px;
$width1600      : 1919px;

$color1         : #ff5800;
$color1gradient : #d34900;

.color1 {
    color: #ff5800;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
