<div class="jumbotron">
   <div class="container">
     <div class="media">

       <div class="media-body">
         <h4 class="media-heading">Media heading</h4>
         <p>
           Een verslag van onze vakantie in toscane
         </p>
       </div>
       <div class="media-right location-img">
         <a href="#">
           <img class="media-object" src="/img/location.jpg" alt="...">
         </a>
       </div>
    </div>
   </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>{{ message }} <span class="label label-success">New</span></h4>
  </div>
  <div class="panel-body">
    <p>
      {{ story }}
    </p>
  </div>
</div>
