<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>My App</title>
    <script src="/scripts/main.js"></script>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <div ng-controller="MainController">
        <h1>{{ message }}</h1>
        <p>
            <button type="button" class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
        </p>
        <div class="btn-group">
          <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'">Left</label>
          <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'">Middle</label>
          <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Right'">Right</label>
        </div>

    </div>
</body>
</html>
